body
{
font-family:monospace";

}



.container
{
display: flex;
justify-content: center;
align-items: center;
width: 500px;
margin: 0;
}

.box
{
width:150px;
height:150px;
margin: 1px;
background-color: teal;
display: flex;
border-radius:10px;
transition: all 0.5;
border: 10px solid teal;
justify-content: center;
align-items: center;
flex-wrap: wrap;
/*بونص أضف ظلال خفيف بطريقة مناسبة */
box-shadow: 10px 10px rgb(231, 144, 202);
}

.box:hover{
    background-color: turquoise;

}

.cell
{
margin: 2px; ;
width: 40px ;
height: 40px;
background-color:lavender;
border-radius: 6px;
font-size:10px;
display: flex;
justify-content: center;
align-items: center;
}